
/******************tag selectors*************************/

body{
  background-color: yellow ;
}

h1{
  color: red;
}


img:hover{
background-color: gold;
}


/*****************************class selectors***********/

.broccoli{
  background-color: brown;
}

.bacon{
  background-color: violet;

}

.circular{
  border-radius: 100%;
}
/***************************id selectors**********************/

#heading {
  color: blue;
}
